

{% block content %}


{% endblock %}

<div>
    {% for message in get_flashed_messages() %}
    <strong>{{ message }}</strong>
    {% endfor %}
</div>
<h3>Menu</h3>
<ul>
    <li><a href="{{ url_for('home')}}">Go to home </a></li>
    <li><a href="{{ url_for('add_users')}}">Add a username</a></li>
    <li><a href="{{ url_for('add_movies')}}">Add a movie</a></li>
    <li><a href="{{ url_for('all_titles')}}">Find titles to the movies you added</a></li>
    <li><a href="{{ url_for('all_overviews')}}">Find overviews to the movies you added</a></li>
    <li><a href="{{ url_for('all_releasedates')}}">Find releasedates to the movies you added</a></li>
    <li><a href="{{ url_for('all_users')}}">List of users that used this site</a></li>
    
</ul>

